


.fitness-level-container{

    border: 2px solid black;
    border-style: groove;
}


.input2{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px 8px;
    box-sizing: border-box;
  }

  
  select{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;

  }

  .Btn{
      background-color:white;
      font-size: 16px;
      border: 2px solid black;
      border-radius: 8px;
      padding: 16px 32px;
      transition-duration: 0.4s;
  }

  .Btn:hover{
    background-color: rgb(0, 247, 255);
    color: black;

  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    right: 105%;
    top:"-13px";
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
