* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

.page-title {
  text-align: center;
  font-size: 50px;
}

body{
  background: url('./images/one.jpg') center center/cover;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.base-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

.content {
  border-radius: 25px;
  background-color: rgb(56, 202, 75);
  padding: 20px;
  margin: 20px;
}

/*CODE SMELL: DEAD CODE

.content li {
  margin-bottom: 10px;
}

.header{
  display: inline-block;
  position: relative;
  background-color: orange;
  height: 5vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.ProfBtn{
  margin-right: 2.5vh;
  float: right;
  margin-top: 1.5vh;
  cursor:pointer;
  border:none;
}

.HomeBtn{
  cursor:pointer;
  margin-left: 4vh;
  margin-top: 1.5vh;
  float: left;
  border:none;
}

*/

.search-container{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  background-color: rgb(56, 202, 75);
}

.homeIcon{
  margin-left: -10.3vh;
  margin-top: 1vh;
}

.SearchBtn{
  border:none;
  cursor:pointer;
}

/* Styles for Results List */
.list-item {
  display: flex;
  background-color: lightgray;
  min-height: auto;
  height: 10em;
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-radius: 1em;
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
/* On mouse-over, add a deeper shadow */
.list-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.result-img {
  height: 10em;
  object-fit: cover;
  width: 10em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.result-text{
  flex-grow: 1;
  margin-left: 1em;
  margin-right: 1em;
}
.result-title-text{
  text-align:center;
  margin-top: 0em;
  margin-bottom:0em;

}

.result-detail-text {
  display: flex;

  border-style:solid;
  border-width: .1em;
}

.result-temp{
  float: right;
  margin-right: 1em;

}

.result-act-dist{
  border-right-style:solid;
  border-width: .1em;
}

@media only screen and (max-width: 1026px) {
  .result-summary {
      display: none;
  }

  .result-detail-text .result-act-dist {
    border-style: none;
  }

}